/* index.css */

body {
	background-color: #FFFFFF;
	padding: 0px;
	margin: 0px;
}

/* intro */
.intro {
  height: 90vh;
  background-color: #274A76;
/*    background: url('../img/IMG_621.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

/* top bar */
.top-bar {
	/*background: transparent;*/
	background: #C29A50 !important;
}

.top-bar.expanded .title-area {
	/*background: transparent;*/
	background: #C29A50 !important;
}

.top-bar-section li {
	/* second layer */
	/*background: transparent !important;*/
	background: #C29A50 !important;
}

.top-bar-section li:not(.has-form) a:not(.button) {
	/* first layer */
	/*background: transparent !important;*/
	background: #C29A50 !important;
	font-family: "Quattrocento Sans", "Montserrat", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

.top-bar h1 {
	font-family: "Quattrocento Sans", "Montserrat", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

.top-bar.expanded .toggle-topbar a {
	color: #FFFFFF !important;
}
/* top bar close */

.head h1 {
	color: white;
	font-family: "Quattrocento Sans", "Montserrat", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	margin-top: 30px;
	margin-bottom: 20px;
}

.head p {
	color: white;
	font-family: "Quattrocento Sans", "Montserrat", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 18px;
}
/* intro close */

/* content */
.circle {
	border-radius: 100%;
	/*border: 2px solid black;*/
	height: 120px;
	width: 120px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	background: #E8B85F;
}

.circle i {
	margin-top: 20px;
}

.top {
	margin-top: 50px;
}

.content h1 {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 0px;
}

.content p {
	text-align: center;
	padding: 0px 10px 0px 10px;
	font-size: 18px;
}

img {
	margin-top: 0px;
	margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

img.first {
	margin-top: 10px;
}

/* footer */
footer {
	background-color: #274A76;
	height: 62px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	bottom: 0px;
}

footer p {
	color: white;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 0px;
}

footer p a {
	color: white;
	font-style: underline;
	font-size: 18px;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

	
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
	
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {

}
/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
	
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}

